@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/UserLayouts/_UserLayout.cshtml";
}
<div class="slider-area fix">
    <div class="slider-active">
        <div class="single-slider">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-9 col-sm-12">
                        <div class="hero__caption text-center">
                            <h1 data-animation="fadeInUp" data-delay="0.1s">
                                "Make My Trip" is just a
                                <dd>few seconds away</dd>
                            </h1>
                            <p data-animation="fadeInUp" data-delay="0.6s">Let’s start your journey with us</p>


                            <div class="">
                                <div class="">
                                    <form class="form-contact" action="SignInRequest" method="post" enctype="multipart/form-data">
                                        <div class="row">
                                            
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <input class="form-control" name="emailAddress" id="emailAddress" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Email or UserName">
                                                </div>
                                            </div>
                                            
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <input class="form-control" name="password" id="password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Password">
                                                </div>
                                            </div>

                                        </div>
                                        <div>
                                            <button style="margin:10px;" type="submit" class="btn slider-btn " data-animation="bounceIn" data-delay="1s">Sign In</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div>
                                <a style="margin:10px;" href="/User/SignUp" class="btn slider-btn " data-animation="bounceIn" data-delay="1s">Sign Up</a>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
